*
!*.tex
!.gitignore
!*.bib
!toptesi.cls
!*.sty
!Makefile
!Graphics
!Results
!Slides
!Graphics/*
!Results/*
!Slides/*.png
!Slides/*.svg
!Slides/*.tex
!Slides/*.sty
!Slides/*.eps
!Slides/*.sh
!*.xmpdata
!*.lst
!LICENSE.txt
*-converted-to.pdf
*.fcstd1
